DEBUG=True

# For deploy configure the variables: "DB_USER" "DB_PASSWORD" "DB_HOST" "DB_PORT" "DB_NAME"
DATABASE_URL="sqlite:///./database.db"

ALLOWED_ORIGINS=https://localhost:3000,https://localhost:5173

SECURITY_SECRET_KEY="SECRET"
SECURITY_ALGORITHM="HS256"
SECURITY_TOKEN_EXPIRATION=30
POKEMONTCG_IO_API_KEY=""

#Email
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx

MAIL_FROM=support@brickei.com.br
MAIL_FROM_NAME=Brickei

FRONTEND_URL="localhost"

ADMIN_EMAIL="admin@brickei.com.br"
ADMIN_SENHA="troque-esta-senha"